.cart-client-item {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
}

.cart-client-item__content {
  display: flex;
  flex-direction: column;
}

.cart-client-item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-client-item__col {
  flex: 1;
}

.cart-client-item__delete-btn {
  cursor: pointer;
}

.cart-client-item__details {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.cart-client-item__title {
  margin: 0;
  font-size: 16px;
  color:#000000;
}

.cart-client-item__status-text {
  color: #6c757d;
  font-size: 14px;
}

.cart-client-item__tech-name-text {
  font-size: 14px;
}

.cart-client-item__motivation-text {
  font-size: 14px;
  color: #6c757d;
}
.cart-client-item__tech-name-text{
  color:#080808;
}
.cart-client-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5px;
}

.cart-client-button .cart-client-item__row {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.cart-client-button .cart-client-item__button {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}